@model ASP_MVC_3.Models.Extra

@{
    ViewBag.Title = "Index";
    
}


<head>
    <style>
        #button1 {
            background-color: #00ff21;
        }

        #button2 {
            background-color: #00ff21;
        }
    </style>
    <link href="@Url.Content("~/Extra/SiteLocal.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Extra/SiteLocal.css" type="text/css" />

</head>

<button id="button1" type="button" >Click Me!</button>
<button id="button2" type="button">Dont Click Me!</button>


